.registerForm {
  position: relative;
  background-color: var(--base--color--white);
  max-width: 500px;
  width: 100%;
  border-radius: 30px;
  padding: var(--base--spaces--10);
}

.notice {
  display: block;
  margin: var(--base--spaces--4) 0;
  a {
    color: var(--base--color--main);
    font-weight: 700;
    &:hover {
      color: var(--base--color--green-2);
    }
  }
}

.errorDB {
  color: var(--base--color--red);
  display: block;
  text-align: center;
  padding: var(--base--spaces--2) 0;
}
