.layout {
  position: relative;
  transition: all 0.4s ease-in-out;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  &.login {
    background-color: var(--base--color--lightblue);
  }
  &.register {
    background-color: var(--base--color--main);
  }
}
