.root {
  position: relative;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .listTitle {
    padding: 0 var(--base--spaces--6) var(--base--spaces--2);
  }
  .list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    &.full {
      max-height: auto;
    }
    &.small {
      max-height: 250px;
      overflow: scroll;
    }
  }
}
