.header {
  padding: var(--base--spaces--4) 0;
  background-color: var(--base--color--white);
  box-shadow: var(--base--box-shadow-1);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.headerWrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: space-between;
  grid-gap: var(--base--spaces--3);
}

.headerControls {
  display: flex;
  grid-gap: var(--base--spaces--4);
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
