.header {
  padding: var(--base--spaces--4) 0;
  background-color: var(--base--color--white);
  box-shadow: var(--base--box-shadow-1);
  position: relative;
}

.headerWrapper {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  justify-content: space-between;
  grid-gap: var(--base--spaces--4);
}
